#ifndef config_h
#define config_h
#include <Arduino.h>

#define WIFI_MULTI_APS wifiMulti.addAP("muenchen.freifunk.net"); wifiMulti.addAP("ssid", "password");

const int buttonPin = 4; //D2 on WeMosD1mini

char mqtt_broker[40] =  "broker.somewhere.com";
char mqtt_port[5] = "1883";
char mqtt_user[20] =  "uid";
char mqtt_pass[20] =  "pwd"; 
String topic = "mumalab/room/status";

String deviceString;

byte mac[6];
String strMac;
int StateOld;
int State;
long nextCheck = 0;

#endif

String Float2String(float value);
void byteToHexString(String &dataString, byte *uidBuffer, byte bufferSize, String strSeperator);
void connectWifi();
void connectMqtt();

